

.app-container{
    max-width: 1100px;
    margin: auto;
    /* background-color: aquamarine; */
}

.free-apis{
    /* align-items: center; */
    margin-top: 7em;
    margin-left: 15em;
    margin-right: 15em;
    text-align: center;
}


.input-text{
    align-items: center;
    /* background-color: pink; */
    /* justify-items: center; */
    justify-content: center;
    display: flex;
}



.input{
    width: 55%;
    border-radius: 2em;
    /* border: none; */
    padding: 20px;
    margin-top: 2em;
    /* border-color: rgba(128, 128, 128, 0.299); */
    border: 1px solid rgba(128, 128, 128, 0.158);

}

.featured{
    text-align: center;
    margin-top: 5em;
    margin-right: 51em;
    margin-bottom: -3em;
}

.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.153);
    gap: 2em;
    border-radius: 20px;
    
}

.comp-card{
    display:grid;
    grid-gap: 1em;
    justify-content: center;
    padding: 3em;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    /* box-shadow: black; */
}

.waresText{
    flex: 1;
}

.softwareCards{
    object-fit: cover;
    border-radius: 100%;
    width: 6em;
    height: 6em;
    margin-bottom: 60px;
}


